/* Import order matters! */
@import url("./base/variables.css") layer(base);
@import url("./base/reset.css") layer(base);
@import url("./base/typography.css") layer(base);
@import url("./base/global.css") layer(base);

@import url("./layout/grid.css") layer(layout);
@import url("./layout/header.css") layer(layout);
@import url("./layout/footer.css") layer(layout);

@import url("./components/card.css") layer(components);

@import url("./config/responsive.css") layer(config);
