.header {
  text-align: center;
  max-width: 60rem;
  /* margin-inline: auto; */
  padding-top: 10px;
  /* padding-block: clamp(4rem, 6vw, 8rem); */
}

.header__title {
  font-size: clamp(2.4rem, 5vw, 3.6rem);
  line-height: 1.3;
  /* margin-bottom: 1.5rem; */
  padding-bottom: 0;
}

.header__title--light {
  font-weight: var(--fw-light);
  color: var(--clr-grey-400);
  display: block;
}

.header__title--bold {
  color: var(--clr-grey-500);
  font-weight: var(--fw-bold);
}

.header__subtitle {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  color: var(--clr-grey-400);
  width: 39ch;
  max-width: 55ch;
  margin-inline: auto;
  padding-top: 1rem;
}
