h1, h2, h3 {
  font-weight: var(--fw-bold);
  color: var(--clr-grey-500);
}

p {
  color: var(--clr-grey-400);
  font-size: var(--fs-base);
}

a {
  text-decoration: none;
  color: inherit;
}
