*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-grey-500);
  background-color: var(--clr-white);
  line-height: 1.6;
}
